* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

:root {
    --darkblue: #31343D;
    --lightblue: #92CCCD;
    --background: #EDEDF6;
    --bluefont: #445876;
}

header .header-container, header nav ul {
display: flex;
flex-wrap: wrap;
justify-content: space-between;
}

header div {
    background-color: var(--darkblue);
}

header h1 {
    background-color: var(--lightblue);
    padding: 0px 10px 0px 70px;
    margin: 10px 0 10px 0;
}

header h1 a {
    text-decoration: none;
    color: var(--darkblue);
    font-size: 40px;
}

header nav {
    margin: 10px 70px 0 10px;
}

header nav ul li {
    list-style: none;
}

header nav ul li a {
    text-decoration: none;
    color: var(--lightblue);
    font-size: 24px;
    padding: 0 0 5px 5px;
    margin: 0 0 0 10px;
    border-bottom: 4px solid var(--lightblue);
}

.hero {
    background-image: url(../images/hero.jpg);
    background-size: cover;
    background-position: center;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
    align-items: center;
    height: 180px;
}

.hero-container {
    background-color: var(--lightblue);
    font-size: 30px;
    font-weight: bold;
    position: relative;
    top: 25%;
    padding: 5px 5px;
    margin: 0 70px 0 0;
    height: 40px;
}

body {
    background-color: var(--background);
}

.profile-image {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 30px 0 0 0;
}

.profile-image-container {
    background-image: url(../images/Profile_Picture.jpg);
    background-size: cover;
    width: 200px;
    height: 200px;
    border: 4px solid blue;
    border-radius: 50%;;
}

.portfolio {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    margin: 30px 0 0 0;
}

.portfolio .big-picture-container a {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
}

.portfolio .small-container a {
    display: flex;
    flex-wrap: wrap;
    width: 50%;
}

.about-me .title, .portfolio .title {
    text-align: right;
    padding: 0 20px 0 0;
    margin: 0 10px 0 60px;
    font-size: 40px;
    color: var(--bluefont);
    width: 140px;
    border-right: 4px solid var(--bluefont);
}

.about-me{
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    margin: 20px 0 0 0;
}

.about-me p {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    color: var(--bluefont);
    font-size: 24px;
    width: 80%;
    padding: 0 0 0 50px;
}

.picture-container {
    display: flex;
    flex-wrap: wrap;
    width: 85vw;
    flex: 1;
    height: auto;
}

.project-title {
    font-weight: bold;
}

.big-picture-container {
    display: flex;
    flex-wrap: wrap;
    margin: 0;
    width: 100%;
    justify-content: space-evenly;
}

.big-picture {
    background-image: url(../images/run-buddy.png);
    background-size: cover;
    background-position: initial;
    justify-content: space-evenly;
    border: 4px solid var(--lightblue);
    margin: 0 50px;
    width: 100%;
    height: 30vw;
    opacity: 80%;
}

.big-picture:hover, .small-picture1:hover, .small-picture2:hover, .small-picture3:hover, .small-picture4:hover   {
    opacity: 100%;
}

.big-picture-text {
color: -var(--darkblue);
background-color: var(--lightblue);
position: relative;
font-size: 20px;
width: 120px;
top: 87%;
}

.small-container {
    display: flex;
    flex-wrap: wrap;
    margin: 0 0 0 50px;
    flex: 1;
    justify-content: space-evenly;
}

.small-picture1 {
    background-image: url(../images/portfolio.png);
    background-size: cover;
    background-position: initial;
    border: 4px solid var(--lightblue);
    opacity: 80%;
    width: 93%;
    height: 200px;
    margin: 20px 0 0 0;
}

.small-picture2 {
    background-image: url(../images/run-buddy.png);
    background-size: cover;
    background-position: initial;
    border: 4px solid var(--lightblue);
    opacity: 80%;
    width: 92%;
    height: 200px;
    margin: 20px 0 0 0;
}

.small-picture3 {
    background-image: url(../images/run-buddy.png);
    background-size: cover;
    background-position: initial;
    border: 4px solid var(--lightblue);
    opacity: 80%;
    width: 93%;
    height: 200px;
    margin: 20px 0 0 0;
}

.small-picture4 {
    background-image: url(../images/portfolio.png);
    background-size: cover;
    background-position: initial;
    border: 4px solid var(--lightblue);
    opacity: 80%;
    width: 92%;
    height: 200px;
    margin: 20px 0 0 0;
}

.small-picture-text {
    color: -var(--darkblue);
    background-color: var(--lightblue);
    position: relative;
    font-size: 15px;
    width: 120px;
    top: 75%;
}

.contact-me {
    display: flex;
    flex-wrap: wrap;
    margin: 20px 0;
}

.contact-me h2{
    text-align: right;
    font-size: 40px;
    color: var(--bluefont);
    width: 140px;
}

.contact-me div {
    position: relative;
    left: 30px;

}

address{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    border-left:4px solid var(--bluefont);
    font-size: 20px;
    margin: 0 0 0 56px;
    color: var(--bluefont);
    width: auto;
}

address p {
    margin: 0 0 0 30px;
    padding: 20px 20px;
    text-decoration: underline;
    font-weight: bold;
    font-style: normal;
}

address a {
    color: var(--bluefont);
}

/*Media Query Desktop adjustments */
@media screen and (max-width: 1399px) {  

    .big-picture {
        width: 100%;
    }

    .small-picture1 {
        width: 93%;
        height: 200px;
        margin: 20px 0 0 0;
    }
    
    .small-picture2 {
        width: 91%;
        height: 200px;
        margin: 20px 0 0 0;
    }
    
    .small-picture3 {
        width: 93%;
        height: 200px;
        margin: 20px 0 0 0;
    }
    
    .small-picture4 {
        width: 91%;
        height: 200px;
        margin: 20px 0 0 0;
    }

}

  @media screen and (max-width: 1239px) {
    .about-me p {
        width: 75%;
    }

    .big-picture {
        width: 100%;
    }

    .small-picture1 {
        width: 90%;
        height: 200px;
        margin: 20px 0 0 0;
    }
    
    .small-picture2 {
        width: 90%;
        height: 200px;
        margin: 20px 0 0 0;
    }

    .small-picture3 {
        width: 90%;
        height: 200px;
        margin: 20px 0 0 0;
    }
        
    .small-picture4 {
        width: 90%;
        height: 200px;
        margin: 20px 0 0 0;
    }
}

  /*Media Query Tablet adjustments */
  @media screen and (max-width: 1034px) { /*Ipad Pro (1024)*/
    .about-me p {
        width: 70%;
    }

    .big-picture {
        height: 30vw;
        width: 100%;
    }

    .big-picture-text {
        top: 80%;
        }
        
        .small-picture1 {
            width: 88%;
            height: 200px;
            margin: 20px 0 0 0;
        }

        .small-picture2 {
            width: 88%;
            height: 200px;
            margin: 20px 0 0 0;
        }

        .small-picture3 {
            width: 88%;
            height: 200px;
            margin: 20px 0 0 0;
        }
                
        .small-picture4 {
            width: 88%;
            height: 200px;
            margin: 20px 0 0 0;
        }

    address{
        margin: 0 0 0 56px;
        width: 80%;
    }

    address p {
        margin: 0 0 0 30px;
        padding: 20px 0 0 10px;
    }
}

@media screen and (max-width: 979px) {
    header nav ul li a {
        font-size: 20px;
    }

    .about-me p {
        width: 70%;
    }

    .big-picture {
        width: 100%;
    }

    .small-picture1 {
        width: 86%;
        height: 200px;
        margin: 20px 0 0 0;
    }
    
    .small-picture2 {
        width: 86%;
        height: 200px;
        margin: 20px 0 0 0;
    }

    .small-picture3 {
        width: 86%;
        height: 200px;
        margin: 20px 0 0 0;
    }
        
    .small-picture4 {
        width: 86%;
        height: 200px;
        margin: 20px 0 0 0;
    }
    
}


@media screen and (max-width: 899px) {
    header nav ul li a {
        font-size: 20px;
    }

    .about-me p {
        width: 70%;
    }

    .big-picture {
        width: 100%;
    }
    .big-picture-text {
        top: 70%;
    }

    .small-picture1 {
        width: 85%;
        height: 200px;
        margin: 20px 0 0 0;
    }

    .small-picture2 {
        width: 85%;
        height: 200px;
        margin: 20px 0 0 0;
    }

    .small-picture3 {
        width: 85%;
        height: 200px;
        margin: 20px 0 0 0;
    }
        
    .small-picture4 {
        width: 85%;
        height: 200px;
        margin: 20px 0 0 0;
    }
  

    address{
        margin: 0 0 0 56px;
        width: 70%;
    }

    address p {
        margin: 0 0 0 30px;
        padding: 20px 0 0 10px;
    }
}

@media screen and (max-width: 768px) { /*Ipad*/
    header nav ul li a {
        font-size: 20px;
    }

    .about-me .title, .portfolio .title {
        text-align: center;
        border: none;
        width: 100%;
        border-bottom: 4px solid var(--bluefont);
    }

    .about-me{
        justify-content: center;
    }
    .about-me p {
        width: 80%;
        padding: 20px 0 0 0;
    }

    .portfolio {
        text-align: center;
    }

    .picture-container {
    padding: 20px 0 0 0;
    }

    .big-picture-text {
        top: 70%;
    }

    .small-picture1 {
        width: 86%;
        height: 200px;
        margin: 20px 0 0 0;
    }
    
    .small-picture2 {
        width: 86%;
        height: 200px;
        margin: 20px 0 0 0;
    }

    .small-picture3 {
        width: 86%;
        height: 200px;
        margin: 20px 0 0 0;
    }
        
    .small-picture4 {
        width: 86%;
        height: 200px;
        margin: 20px 0 0 0;
    }

    .contact-me {
        justify-content: center;
    }
    .contact-me div {
        left: 0;
    }

    .contact-me h2 {
       text-align: center;
       width: 300px;
    }

    address{
        margin: 0 0 0 56px;
        width: 80%;
        border:none;
        border-top: 4px solid var(--bluefont);
    }

    address p {
        margin: 0 0 0 30px;
        padding: 20px 0 0 10px;
    }
}

/*Media Query Mobile adjustments */
@media screen and (max-width: 540px) { /*Surface Duo*/
    header .header-container, header nav ul {
        justify-content: center;
        }

    header h1 {
        margin: 0;
    }

    header div {
        justify-content: center;
        padding: 0 0 10px 0;
        background-color: var(--darkblue);
    }

    header nav {
        margin: 0;
    }

    header nav ul li a {
        font-size: 20px;
        margin: 0 0 0 5px;
    }

    .about-me .title, .portfolio .title {
        text-align: center;
        border: none;
        width: 100%;
        border-bottom: 4px solid var(--bluefont);
    }

    .about-me{
        justify-content: center;
    }
    .about-me p {
        width: 80%;
        padding: 20px 0 0 0;
    }

    .portfolio {
        text-align: center;
    }

    .picture-container {
    padding: 20px 0 0 0;
    }

    .big-picture-text {
        top: 65%;
    }

    .small-picture1 {
        width: 80%;
        height: 200px;
        margin: 20px 0 0 0;
    }

    .small-picture2 {
        width: 80%;
        height: 200px;
        margin: 20px 0 0 0;
    }

    .small-picture3 {
        width: 80%;
        height: 200px;
        margin: 20px 0 0 0;
    }
        
    .small-picture4 {
        width: 80%;
        height: 200px;
        margin: 20px 0 0 0;
    }

    .contact-me {
        justify-content: center;
    }
    .contact-me div {
        left: 0;
    }

    .contact-me h2 {
       text-align: center;
       width: 300px;
    }

    address{
        margin: 0 0 0 56px;
        width: 80%;
        border:none;
        border-top: 4px solid var(--bluefont);
    }

    address p {
        margin: 0 0 0 30px;
        padding: 20px 0 0 0;
    }
}
/*Vertical setup*/
@media screen and (max-width: 470px) { /*Iphone 6/7/8 & Iphone 6/7/8 Plus */
    
    header .header-container, header nav ul {
        justify-content: center;
    }

    header h1 {
        padding: 0 30px;
    }

    header div {
        justify-content: center;
        padding: 0 0 10px 0;
        background-color: var(--darkblue);
    }

    header nav {
        margin: 0;
    }

    header nav ul li a {
        font-size: 20px;
        margin: 0 0 0 5px;
    }

    .about-me .title, .portfolio .title {
        text-align: center;
        border: none;
        width: 100%;
        margin: 0 56px;
        border-bottom: 4px solid var(--bluefont);
    }

    .about-me{
        justify-content: center;
    }
    .about-me p {
        width: 80%;
        margin: 0 56px;
        padding: 20px 0 0 0;
    }

    .hero-container {
        font-size: 25px;
    }

    .portfolio {
        text-align: center;
    }

    .picture-container {
    padding: 20px 0 0 0;
    justify-content: center;
    }

    .big-picture{
        flex: 1;
        height: 250px;
    }

    .big-picture-text {
        top: 70%;
    }
    

    .portfolio .small-container a {
        width: 70%;
    }

    .small-container {
        margin: 0;
        padding: 0;
    }

    .small-picture1 {
            width: 100%;
            margin: 20px 0 0 0;
    }
    
    .small-picture2 {
            width: 100%;
            margin: 20px 0 0 0;
    }
    
    .small-picture3 {
            width: 100%;
            height: 200px;
            margin: 20px 0 0 0;
    }
            
    .small-picture4 {
            width: 100%;
            height: 200px;
            margin: 20px 0 0 0;
    }

    .contact-me {
        justify-content: center;
    }
    .contact-me div {
        left: 0;
    }

    .contact-me h2 {
       text-align: center;
       width: 300px;
    }

    address{
        margin: 0 56px 0 56px;
        width: auto;
        border:none;
        border-top: 4px solid var(--bluefont);
    }

    address p {
        margin: 0 0 0 0;
        padding: 20px 0 0 0;
    }

    address a {
        font-size: 17px;
    }

}

@media screen and (max-width: 376px) { /*Iphone X*/
    header .header-container, header nav ul {
        justify-content: center;
    }

    header h1 {
        padding: 0 30px;
    }

    header div {
        justify-content: center;
        padding: 0 0 10px 0;
        background-color: var(--darkblue);
    }

    header nav {
        margin: 0;
    }

    header nav ul li a {
        font-size: 18px;
        margin: 0 0 0 5px;
    }

    .about-me .title, .portfolio .title {
        text-align: center;
        border: none;
        width: 100%;
        margin: 0 56px;
        border-bottom: 4px solid var(--bluefont);
    }

    .about-me{
        justify-content: center;
    }
    .about-me p {
        width: 80%;
        margin: 0 56px;
        padding: 20px 0 0 0;
    }

    .hero-container {
        font-size: 22px;
    }

    .portfolio {
        text-align: center;
    }

    .picture-container {
        padding: 20px 0 0 0;
        justify-content: center;
        }
    
    .big-picture{
        flex: 1;
        height: 250px;
    }
    
    .big-picture-text {
        top: 70%;
    }
        
    .portfolio .small-container a {
        width: 70%;
    }
    
    .small-container {
        margin: 0;
        padding: 0;
    }

    .small-picture1 {
        width: 100%;
        margin: 20px 0 0 0;
    }
        
    .small-picture2 {
        width: 100%;
        margin: 20px 0 0 0;
    }
        
    .small-picture3 {
        width: 100%;
        height: 200px;
        margin: 20px 0 0 0;
    }
                
    .small-picture4 {
        width: 100%;
        height: 200px;
        margin: 20px 0 0 0;
    }

    .contact-me {
        justify-content: center;
    }
    .contact-me div {
        left: 0;
    }

    .contact-me h2 {
       text-align: center;
       width: 300px;
    }

    address{
        margin: 0 56px 0 56px;
        width: auto;
        border:none;
        border-top: 4px solid var(--bluefont);
    }

    address p {
        margin: 0 0 0 0;
        padding: 20px 0 0 0;
    }

    address a {
        font-size: 13px;
    }

}

@media screen and (max-width: 321px) { /*Iphone 5 & SE*/
    
    header .header-container, header nav ul {
        justify-content: center;
    }

    header h1 {
        padding: 0 30px;
    }

    header div {
        justify-content: center;
        padding: 0 0 10px 0;
        background-color: var(--darkblue);
    }

    header nav {
        margin: 0;
    }

    header nav ul li a {
        font-size: 18px;
        margin: 0 0 0 5px;
    }

    .about-me .title, .portfolio .title {
        text-align: center;
        border: none;
        width: 100%;
        margin: 0 56px;
        border-bottom: 4px solid var(--bluefont);
    }

    .about-me{
        justify-content: center;
    }
    .about-me p {
        width: 80%;
        margin: 0 56px;
        padding: 20px 0 0 0;
    }

    .hero-container {
        font-size: 22px;
    }

    .portfolio {
        text-align: center;
    }

    .picture-container {
        padding: 20px 0 0 0;
        justify-content: center;
        }
    
    .big-picture{
        flex: 1;
        height: 250px;
    }
    
    .big-picture-text {
        top: 70%;
    }
        
    .portfolio .small-container a {
        width: 70%;
    }
    
    .small-container {
        margin: 0;
        padding: 0;
    }

    .small-picture1 {
        width: 100%;
        margin: 20px 0 0 0;
    }
        
    .small-picture2 {
        width: 100%;
        margin: 20px 0 0 0;
    }
        
    .small-picture3 {
        width: 100%;
        height: 200px;
        margin: 20px 0 0 0;
    }
                
    .small-picture4 {
        width: 100%;
        height: 200px;
        margin: 20px 0 0 0;
    }

    .contact-me {
        justify-content: center;
    }
    .contact-me div {
        left: 0;
    }

    .contact-me h2 {
       text-align: center;
       width: 300px;
    }

    address{
        margin: 0 56px 0 56px;
        width: auto;
        border:none;
        border-top: 4px solid var(--bluefont);
    }

    address p {
        margin: 0 0 0 0;
        padding: 20px 0 0 0;
    }

    address a {
        font-size: 11px;
    }

}

@media screen and (max-width: 280px) { /*Galaxy Fold*/
    
    header .header-container, header nav ul {
        justify-content: center;
    }

    header h1 {
        padding: 0 10px;
    }

    header div {
        justify-content: center;
        padding: 0 0 10px 0;
        background-color: var(--darkblue);
    }

    header nav {
        margin: 0;
    }

    header nav ul li a {
        font-size: 15px;
        margin: 0 0 0 5px;
    }

    .about-me .title, .portfolio .title {
        text-align: center;
        border: none;
        width: 100%;
        margin: 0 56px;
        border-bottom: 4px solid var(--bluefont);
    }

    .about-me{
        justify-content: center;
    }
    .about-me p {
        width: 80%;
        margin: 0 56px;
        padding: 20px 0 0 0;
    }

    .hero-container {
        font-size: 18px;
    }

    .portfolio {
        text-align: center;
    }

    .big-picture-container {
        margin: 0;
        width: 100%;
    }

    .picture-container {
        padding: 20px 0 0 0;
        justify-content: center;
    }
    
    .big-picture{
        background-position: initial;
        margin: 0 30px;
        flex: 1;
        height: 250px;
    }
    
    .big-picture-text {
        top: 70%;
    }
        
    .portfolio .small-container a {
        width: 70%;
    }
    
    .small-container {
        margin: 0;
        padding: 0;
    }

    .small-picture1 {
        width: 100%;
        margin: 20px 0 0 0;
    }
        
    .small-picture2 {
        width: 100%;
        margin: 20px 0 0 0;
    }
        
    .small-picture3 {
        width: 100%;
        height: 200px;
        margin: 20px 0 0 0;
    }
                
    .small-picture4 {
        width: 100%;
        height: 200px;
        margin: 20px 0 0 0;
    }
    .contact-me {
        justify-content: center;
    }
    .contact-me div {
        left: 0;
    }

    .contact-me h2 {
       text-align: center;
       width: 300px;
    }

    address{
        margin: 0 56px 0 56px;
        width: auto;
        border:none;
        border-top: 4px solid var(--bluefont);
    }

    address p {
        margin: 0 0 0 0;
        padding: 20px 0 0 0;
    }

    address a {
        font-size: 8.5px;
    }

}

