* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

:root {
    --darkblue: #31343D;
    --lightblue: #92CCCD;
    --background: #EDEDF6;
    --bluefont: #445876;
}

header .header-container, header nav ul {
display: flex;
flex-wrap: wrap;
justify-content: space-between;
}

header div {
    background-color: var(--darkblue);
}

header h1 {
    background-color: var(--lightblue);
    padding: 0px 10px 0px 70px;
    margin: 10px 0 10px 0;
}

header h1 a {
    text-decoration: none;
    color: var(--darkblue);
    font-size: 40px;
}

header nav {
    margin: 10px 70px 0 10px;
}

header nav ul li {
    list-style: none;
}

header nav ul li a {
    text-decoration: none;
    color: var(--lightblue);
    font-size: 24px;
    padding: 0 0 5px 5px;
    margin: 0 0 0 10px;
    border-bottom: 4px solid var(--lightblue);
}

.hero {
    background-image: url(../images/hero.jpg);
    background-size: cover;
    background-position: center;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
    align-items: center;
    height: 180px;
}

.hero-container {
    background-color: var(--lightblue);
    font-size: 30px;
    font-weight: bold;
    position: relative;
    top: 25%;
    padding: 5px 5px;
    margin: 0;
    height: 40px;
}

body {
    background-color: var(--background);
}

section {
    padding: 30px 60px 0 70px;
}

.sub-container , .portfolio {
    display: flex;
    flex-wrap: wrap;
}

.sub-container h2, .portfolio h2{
    font-size: 35px;
    color: var(--bluefont);
    width: 10%;
    text-align: right;
    padding: 0 10px 0 0;
}
.sub-container p {
    font-size: 20px;
    color: var(--bluefont);
    padding: 0 0 3% 50px;
    border-left: 4px solid var(--darkblue);
    width: 85%;
}

.portfolio {
    width: 90%;
    border-left: 4px solid var(--darkblue);
    justify-content: space-between;
    align-self: auto;
    padding: 0 50px;
}

.main-project {
    width: 80%;
    flex: 1;
    border: 4px solid var(--lightblue);
}

.project1, .project2, .project3, .project4 {
    width: 49%;
    margin: 20px 0 0 0;
    border: 4px solid var(--lightblue);
} 

section #work {
    text-align: center;
}

.main-project-name {
    position: relative;
    background-color: var(--lightblue);
    top: 0;
    width: 90px;
}







